In [1]:
import pandas as pd
import numpy as np 
from itertools import islice
filepath = "results_example\drosophila_kr\drosoph_kr_status_16503428093686928554.txt"
filepath_sites = "params_example\kr_ts.txt"

In [4]:
def find_file_segment(path, required):
    with open(path, "r") as file:
        for num_line, line in enumerate(file):
                if required in line:
                    print(line)
                    return(num_line)

In [5]:
required_first = "Cell simulation time:"
required_second = "Elapsed time:"
Start = find_file_segment(filepath,required_first) + 3
End = find_file_segment(filepath,required_second) - 2
print(Start)
print(End)

Cell simulation time: 10.0 seconds

Elapsed time: 39.63 sec

1232
118676

In [6]:
def parse_string(Parametr):
    file = open(filepath, "r")
    list = []
    for i in islice(file, Start, End):
        if "Full update of TF binding propensities" in i:
            continue
        if "bound" in i:
            if Parametr==7 :
                list.append(i.split()[Parametr-1])
                continue
            elif "unbound" in i:
                if Parametr==10:  
                    list.append(i.split()[12])
                    continue
                if Parametr==12:
                    list.append("-")
                    continue
            if Parametr==10:
                list.append(i.split()[Parametr-1])
                continue
        if "hop" in i:
            if "hopped at the same position" in i:
                if Parametr==7:
                    list.append("hop")
                    continue
                if Parametr==10:
                    list.append(i.split()[Parametr+1])
                    continue
                if Parametr==12:
                    list.append("Same pos")
                    continue
            if Parametr==7:
                list.append("hop " + i.split()[Parametr])
                continue
        if "is switching between search and recognition state" in i:
            if Parametr==7:
                list.append("Switch")
                continue
            if Parametr==10:
                list.append(i.split()[8])
                continue
            if Parametr==12:
                list.append(i.split()[25])
                continue
        

                            
            
        list.append(i.split()[Parametr])
    return list

In [7]:
data = {'Time': parse_string(0), 'Number': parse_string(2), 'Type': parse_string(5), 'Action': parse_string(7), 'Position': parse_string(10), 'Details': parse_string(12)}
df = pd.DataFrame(data)
print(df)

                      Time Number Type   Action Position Details
0       6.242413351398217:   8955   kr    bound     4727  3'->5'
1        6.24241337758004:   8955   kr     left     4727       1
2       6.242413509821137:   8955   kr     left     4726       1
3       6.242413562541543:   8955   kr     left     4725       1
4       6.242413577827941:   8955   kr    right     4724       1
...                    ...    ...  ...      ...      ...     ...
117437   9.31967648501932:   8954   kr     left    15964       1
117438  9.319676579621309:   8954   kr    right    15963       1
117439  9.319676604358957:   8954   kr     left    15964       1
117440  9.319676747746168:   8954   kr    right    15963       1
117441  9.319676834230854:   8954   kr  unbound    15964       -

[117442 rows x 6 columns]

In [8]:
df.to_pickle (" df.pkl ")

In [13]:
df.sample(100)

                      Time Number Type Action Position Details
18169   9.309818588847111:   8954   kr   left    15990       1
51094   9.313098099812674:   8954   kr  right    15995       1
15510   9.309551671659422:   8954   kr  right    16110       1
49511   9.312938175547767:   8954   kr   left    16034       1
4297    6.242829769775559:   8955   kr   left     4681       1
...                    ...    ...  ...    ...      ...     ...
34906   9.311487045315845:   8954   kr  right    16149       1
39341   9.311928193929301:   8954   kr   left    16104       1
87616   9.316723016346387:   8954   kr   left    16164       1
61900   9.314165578009494:   8954   kr   left    16011       1
115309  9.319466769107796:   8954   kr  right    15966       1

[100 rows x 6 columns]

In [2]:
with open(filepath_sites, "r") as f:
    lines = f.readlines()
with open(filepath_sites, "w") as f:
    for line in lines:
        if "kr" in line:
            f.write(line)